<h2>About PDX Rocks</h2>
<h4>Who</h4>
<p> PDX Rocks is a Portland group interested in connecting climbers with climbers. We prefer a chill vibe and encourage all sorts of climbers but aren't really interested in hearing all about it brah, we just wanna get out and do it because we love it!</p>

<h4>What</h4>
<p> Connect climbers to facilitate all the climbing!!</p>

<h4>When</h4>
<p>As often as possible!  Find folks with similar schedules.</p>

<h4>Where</h4>
<ul>
  <li>The PNW Great Outdoors!</li>
  <li>Portland Rock Gym</li>
  <li>The Circuit Boldering Gym</li>
  <li>Planet Granite</li>
  <li>The PSU Climbing Center</li>
</ul>
<p>But not Multnomah Athletic Club, currently none of us are this fancy but would love to include MAC members in the group!</p>
<!-- <ul>
  <li><a href "https://portlandrockgym.com/localcrags/">The Great PNW Outdoors!</a></li>
  <li><a href="https://portlandrockgym.com/">Portland Rock Gym</a></li>
  <li><a href="https://www.thecircuitgym.com/">The Circuit Bouldering Gym</a></li>
  <li><a href="https://www.pdx.edu/recreation/outdoor-program#ClimbingCenter">PSU Climbing Center</a></li>
  <li><a href="https://planetgranite.com/">Planet Granite</a></li>
  <li><a href="https://themac.com/facilities">Multnomah Athletic Club</a>, a private club which prefers to keep riff raff (much like ourselves) out.</li>
</ul> -->
<h4>Why</h4>
<p>Because it rocks!!</p>

<h4>How</h4>
<ul>
  <li>Indoor bouldering, top roping, lead climbing</li>
  <li>Outdoor bouldering, top roping, lead climbing</li>
</ul>
<p>We would love help developing a trad program!</p>
