<h4>Who</h4>
<p> PDX Rocks is a Portland group interested in connecting climbers with climbers. We prefer a chill vibe and encourage all sorts of climbers but aren't really interested in hearing all about it brah, we just wanna get out and climb!</p>

<h4>What</h4>
<p> Connect climbers to facilitate all the climbing!!</p>

<h4>When</h4>
<p>As often as possible!  Find folks with similar schedules.</p>

<h4>Where</h4>
<ul>
  <li><a target="_blank" href="{{outdoorPath}}">The PNW Great Outdoors!</a></li>
  <li><a target="_blank" href="{{prgPath}}">Portland Rock Gym</a></li>
  <li><a target="_blank" href="{{circuitPath}}">The Circuit Boldering Gym</a></li>
  <li><a target="_blank" href="{{planetGranitePath}}">Planet Granite</a></li>
  <li><a target="_blank" href="{{psuPath}}">The PSU Climbing Center</a></li>
</ul>

<p>But not <a target="_blank" href="{{macPath}}">Multnomah Athletic Club</a>, currently none of us are this fancy but would love to include MAC members in the group!</p>

<h4>Why</h4>
<p>Because it rocks!!</p>

<h4>How</h4>
<p>Indoor bouldering, top roping, lead climbing</p>
<p>Outdoor bouldering, top roping, lead climbing</p>
<p>We would love help developing a trad program!</p>
