<h4>Edit Info</h4>
<div class="form-inline">
  <div class="form-group">
    <label>First Name</label>
    <input [(ngModel)]="selectedMember.first">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input [(ngModel)]="selectedMember.last">
  </div>
  <div class="form-group">
    <label>Photo</label>
    <input [(ngModel)]="selectedMember.image">
  </div>
  <div class="form-group">
    <label>Email Address</label>
    <input [(ngModel)]="selectedMember.email">
  </div>
  <div class="form-group">
    <label>Phone Number</label>
    <input [(ngModel)]="selectedMember.phone">
  </div>
  <div class="form-group">
    <label>Climbing Preference</label>
    <select [(ngModel)]="selectedMember.preference">
      <option value="top-rope">Top Rope</option>
      <option value="boulder">Boulder</option>
      <option value="lead">Lead</option>
      <option value="trad">Trad</option>
    </select>
  </div>
  <div class="form-group">
    <label>About Member</label>
    <textarea row="3" [(ngModel)]="selectedMember.bio"></textarea>
  </div>
  <button class="btn" (click)="beginUpdatingMember(selectedMember)">Save Changes</button>
</div>
<button class="btn" (click)=" beginDeletingMember(selectedMember)">Delete Member</button>
